.jekyll-cache/
_site/
.jekyll-cache
_site
_drafts
/_posts/2020-04-13-ControlDraft.markdown

/_posts/2020-03-04-Monteverde.markdown
/assets/img/posts/monteverde

/_posts/2020-04-10-Forwardslash.markdown
/assets/img/posts/forwardslash

/_posts/2020-05-05-Admirer.markdown
/assets/img/posts/admirer

/_posts/2020-03-24-Remote.markdown
/assets/img/posts/Remote

/_posts/2020-04-12-ServMon.markdown
/assets/img/posts/servmon

/_posts/2020-04-19-Magic.markdown
/assets/img/posts/magic

/_posts/2020-05-01-Quick.markdown
/assets/img/posts/quick

/_posts/2020-MM-DD-Model.markdown
